@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary: #02eeff;
  --color-primary-variant: #5ddee5;
  --color-bg-1: #001517;
  --color-bg-2: #00282d;
  --color-bg-3: #012e34;
  --color-bg-4: #003f47;
  --color-light: #85afb2;
  --color-white: #e6e6e6;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 0.3s ease-in-out;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg-3);
  color: var(--color-light);
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}
h2 {
  font-size: 3.5rem;
}
a {
  color: var(--color-light);
  transition: var(--transition);
  display: inline-block;
}
a:hover {
  color: var(--color-primary);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}
/*=======NAV START=======*/
nav {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: calc(16px * 4);
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 0.2rem 0.7rem rgba(0 0 0 / 0.5);
}
.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo h2 {
  font-size: 2.5rem;
}
.nav-links {
  display: flex;
  gap: 4rem;
  text-transform: capitalize;
}
.social-links {
  display: flex;
  gap: 1rem;
}
.social-links a {
  background: linear-gradient(
    var(--color-primary),
    var(--color-primary-variant)
  );
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-bg-2);
  border-radius: 0.5rem;
}
.social-links a:hover {
  box-shadow: 0 0.7rem 0.8rem rgba(0 0 0 / 0.5);
}
/*=======HEADER START=======*/
header {
  max-width: 100vw;
  height: calc(100vh + 10rem);
  position: relative;
  background: linear-gradient(var(--color-bg-2), var(--color-bg-1));
  overflow: hidden;
  /* top: 0; */
}

.header-container {
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 4%;
  margin-top: 6rem;

  position: relative;
}
.hashtag {
  color: var(--color-primary-variant);
}
.header-left > p {
  width: 91%;
  margin-top: 2rem;
}
.header-btn {
  padding: 0.5rem 2.5rem;
  background-color: var(--color-primary-variant);
  color: var(--color-bg-1);
  font-weight: 500;
  border-radius: 1.5rem;
  margin-top: 1rem;
  transition: var(--transition);
}
.header-btn:hover {
  background-color: var(--color-bg-3);
  color: var(--color-light);
}
.header-left h1 {
  font-size: 3rem;
}
.header-right {
  margin-top: 10rem;
}
.header-image-bg {
  width: 15rem;
  height: 20rem;
  background: var(--color-bg-4);
  position: absolute;
  top: 0;
  right: 0;
}
.header-image-lg {
  width: 27rem;
  /* height: 30rem; */
  /* overflow: hidden; */
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: var(--transition);
}
.header-image-lg {
  filter: saturate(0) brightness(0.5);
}
.header-image-md {
  width: 17rem;
  height: 17rem;
  overflow: hidden;
  position: absolute;
  top: 15rem;
  right: 15rem;
  transition: var(--transition);
}
.header-right:hover .header-image-md {
  opacity: 0;
}
.header-right:hover .header-image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-4);
  top: 0;
  right: 0;
}
.header-frames {
  position: absolute;
  top: 90vh;
  left: 18vw;
}
.header-frame {
  position: absolute;
  width: 15rem;

  overflow: hidden;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  transition: var(--transition);
  border: 0.5rem solid var(--color-bg-2);
}
.header-frame:nth-child(2) {
  transform: rotate(20deg);
  top: -15px;
  left: -15px;
}
.header-frames:hover .header-frame {
  transform: rotate(0);
}
.header-frames:hover .header-frame:nth-child(2) {
  top: 0;
  left: 16rem;
}
